spring.application.name=sitedocaco

# App:
app.frontend.url=http://localhost:3000

# Database
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true

# JWT
jwt.secret=
jwt.expiration=86400000

# ImgBB
imgbb.api.key=
imgbb.upload.url=https://api.imgbb.com/1/upload

# Upload Limits
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
spring.servlet.multipart.enabled=true

# Timeouts (importante para uploads grandes)
server.servlet.connection-timeout=30s
spring.mvc.async.request-timeout=30s

# Email
spring.mail.host=smtp.gmail.com
spring.mail.port=587
#spring.mail.username=
#spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true